@import url("https://fonts.googleapis.com/css2?family=Golos+Text&display=swap");

:root {
    --colorOne: #03214e;
    --colorTwo: #042a62;
    --colorThree: #07a39d;
    --colorFour: #ebf3fe;
    --accent: #f06449;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Golos Text", sans-serif;
    color: var(--colorOne);
}

a {
    text-decoration: none;
}

.btn {
    background-color: var(--accent);
    color: white;
    padding: 0.8rem 1.6rem;
}

/* --------------------header--------------------- */
.header-bar {
    width: 100%;
    border-bottom: 2px solid var(--colorFour);
}

.header-barinfo {
    height: 80px;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: auto;
}

.navbar {
    width: 100%;
    height: 50px;
    line-height: 50px;
}

.navbar-list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.navbar-list a {
    text-decoration: none;
    font-size: 0.8rem;
}

.navbar-list a:hover {
    color: var(--accent);
}

.slider {
    width: 100%;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}
.mySlides img {
    height: 80vh;
    width: 100%;
    object-fit: cover;
    display: block;
}
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.slider-text {
    font-size: 1.5rem;
    position: absolute;
    top: 40%;
    padding: 2rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.123);
}
.slider-text h1,
.slider-text h2,
.slider-text p {
    color: var(--colorFour);
}
.slider-text p {
    font-size: 1rem;
    margin-top: 2rem;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.8;
    }
    to {
        opacity: 1;
    }
}

@media screen and (min-width: 768px) {
    .header-bar {
        height: 80px;
        display: flex;
    }
    .header-logo {
        width: 250px;
        height: 100%;
        border-right: 2px solid var(--colorFour);
    }
    .header-barinfo {
        width: 50%;
        font-size: 1rem;
    }
    .navbar-list a {
        font-size: 1.2rem;
    }
    .mySlides img {
        height: 100vh;
    }
    .slider-text {
        font-size: 2rem;
        left: 4rem;
        width: 40%;
        text-align: start;
        padding: 0;
    }
}

/* --------------------us--------------------- */
#us {
    width: 100%;
    position: relative;
}

.us-imgcontainer {
    display: none;
    border-radius: 4px;
}

.us-infocontainer {
    background-color: var(--colorOne);
    padding: 2rem;
}

.us-infocontainer h2,
.us-infocontainer p {
    color: var(--colorFour);
}

.us-infocontainer h2 {
    font-size: 2rem;
    color: var(--colorThree);
}

.us-infocontainer p {
    margin-top: 2rem;
    text-align: justify;
}

.us-infocontainer i {
    color: var(--accent);
    font-size: 2rem;
}

.us-infoitems {
    margin-top: 1rem;
    text-align: center;
}
.us-infoitems p {
    font-size: 0.8rem;
    margin-top: 0.5rem;
}
.us-infoitems span {
    color: var(--colorFour);
    font-size: 1rem;
    font-style: normal;
    margin-left: 0.3rem;
}

.us-infoitem {
    margin-left: 0;
    text-align: start;
    width: 250px;
    margin: auto;
}

.us-hr {
    margin-top: 2rem;
    border-top: 1px dashed var(--colorThree);
}

@media screen and (min-width: 576px) {
    #us {
        height: 100vh;
    }
    .us-imgcontainer {
        position: absolute;
        z-index: 2;
        top: 10%;
        height: 80vh;
        display: block;
    }

    .us-img {
        height: 100%;
        border-radius: 4px;
    }
    .us-infocontainer {
        position: absolute;
        right: 0;
        width: 80%;
        height: 100%;
        padding: 6rem 12rem 4rem 4rem;
    }
    .us-infocontainer h2,
    .us-infocontainer p {
        margin-left: 15rem;
    }
    .us-infoitems {
        margin-left: 15rem;
        display: flex;
        justify-content: space-between;
    }
    .us-infoitems p {
        margin-left: 0;
    }
    .us-infoitem {
        margin: 0;
    }
    .us-hr {
        margin-left: 15rem;
        width: 250px;
    }
}

/* --------------------benefits--------------------- */
#benefits {
    width: 100%;
    padding: 2rem;
    text-align: center;
}

#benefits h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
}

.benefits-card {
    width: 300px;
    padding: 2rem;
    background-color: #07a39d;
    opacity: 1;
    background-image: radial-gradient(
        #134898 0.35000000000000003px,
        #07a39d 0.35000000000000003px
    );
    background-size: 7px 7px;
    margin: 1rem auto;
    border-radius: 4px;
}

.benefits-card i {
    display: block;
    text-align: center;
    font-size: 2rem;
    color: white;
    margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
    #benefits {
        padding: 4rem;
    }
    #benefits h2 {
        width: 40%;
        margin: 2rem auto;
    }

    #benefits p {
        width: 70%;
        margin: auto;
    }
    .benefits-cards {
        display: flex;
        margin-top: 2rem;
    }
    #benefits .benefits-card p {
        width: 100%;
        margin: 0;
        text-align: justify;
        font-size: 0.9rem;
    }
    #benefits .benefits-card h3 {
        text-align: center;
        margin-bottom: 1rem;
    }
}

/* --------------------areas--------------------- */
#areas {
    width: 100%;
    padding: 2rem;
    background-color: var(--colorFour);
    text-align: justify;
}

#areas h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

#areas p {
    margin-bottom: 2.5rem;
}

.areas-cards {
    margin-top: 2.5rem;
}

.areas-card {
    background-color: var(--colorTwo);
    width: 300px;
    height: 80px;
    margin: 1rem;
    border-radius: 4px;
    text-align: center;
    line-height: 80px;
    font-size: 0.8rem;
    position: relative;
}

.areas-cardiconcontainer {
    position: absolute;
    top: -10px;
    left: -10px;
    background-color: var(--colorThree);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    font-size: 2rem;
    line-height: 40px;
}

.areas-card p {
    color: var(--colorFour);
}

@media screen and (min-width: 768px) {
    #areas {
        padding: 4rem;
        display: flex;
    }

    .areas-info {
        width: 40%;
    }
    .areas-cards {
        width: 60%;
        padding: 0 0 0 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 0;
    }
}
/* --------------------why us--------------------- */

#whyus {
    width: 100%;
    padding: 2rem;
}

.whyus-text {
    background-color: var(--colorThree);
    width: 300px;
    padding: 1rem;
    height: 400px;
    text-align: justify;
    border-radius: 4px;
    margin: auto;
}

.whyus-text h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
}

.whyus-listcontainer {
    position: relative;
    border-radius: 4px;
    display: flex;
    flex-direction: column-reverse;
}

.whyus-listcontainer img {
    border-radius: 4px;
    width: 300px;
    display: block;
    margin: auto;
}
.whyus-list {
    background-color: var(--colorFour);
    list-style: none;
    padding: 2rem;
    width: 300px;
    margin: auto;
}

.whyus-list li {
    margin-bottom: 1rem;
}

.whyus-list li .bi-check2-circle {
    font-size: 2rem;
    color: var(--accent);
}

.whyus-list li span {
    margin-left: 0.5rem;
}

@media screen and (min-width: 768px) {
    #whyus {
        height: 100vh;
        padding: 4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .whyus-listcontainer {
        width: 70%;
        height: 400px;
    }

    .whyus-listcontainer img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
    .whyus-list {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 4rem;
    }
}

/* --------------------quote--------------------- */
#quote {
    width: 100%;
    height: 100vh;
    background-color: #ebf3fe;
    opacity: 1;
    background-image: radial-gradient(
        #134898 0.35000000000000003px,
        #ffff 0.35000000000000003px
    );
    background-size: 7px 7px;
    font-size: 3rem;
    text-align: center;
    display: flex;
    align-items: center;
    font-style: italic;
}

#quote span {
    color: var(--accent);
}

@media screen and (min-width: 768px) {
    #quote {
        font-size: 5rem;
    }
}
/* --------------------contact--------------------- */

/* --------------------footer--------------------- */
.footer-info {
    width: 100%;
    background-color: var(--colorTwo);
    background-color: #042a62;
    opacity: 1;
    background-image: radial-gradient(
        #134898 0.35000000000000003px,
        #042a62 0.35000000000000003px
    );
    background-size: 7px 7px;
    padding: 2rem;
}

.footer-info span,
.footer-list li a {
    color: var(--colorFour);
}

.footer-info p {
    color: var(--colorThree);
}

.footer-info span,
.footer-list li a {
    font-size: 0.8rem;
}

.footer-info i {
    display: block;
    margin-top: 0.8rem;
    font-style: normal;
    color: var(--colorThree);
}

.footer-info span {
    padding-left: 0.5rem;
}

.footer-logo {
    text-align: center;
}

.footer-list {
    list-style: none;
}

.footer-list li {
    margin-top: 0.8rem;
}

.footer-flex {
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
}

.poweredby {
    width: 100%;
    height: 60px;
    background-color: var(--colorOne);
}

.poweredby p {
    color: gold;
    font-size: 0.8rem;
    line-height: 60px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .footer-info {
        padding: 4rem;
        display: flex;
        justify-content: space-between;
    }

    .footer-logo {
        text-align: start;
    }

    .footer-flex {
        width: 55%;
        margin-top: 0;
    }
    .poweredby p {
        text-align: start;
        padding-left: 4rem;
    }
}
